$dark-color: #222;
$text-color: #c7c7c7;
$title-color: #eaeaea;
$accent-color: #0dab77;
$danger-color: #f44336;

:export {
  $dark-color: #222;
  $text-color: #c7c7c7;
  $title-color: #eaeaea;
  $accent-color: #0dab77;
  $danger-color: #f44336;
}
