@import '../../styles/variables.module.scss';

.form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 24px;
}

.subtitle {
  margin-top: 12px;
}

.label {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 6px 24px;
  border: 1px solid $title-color;
  border-radius: 8px;
  transition: background 0.2s linear, color 0.3s ease-in;
  cursor: pointer;
  &:hover {
    background-color: $title-color;
    color: $dark-color;
  }
}

button {
  border-radius: 8px;
  padding: 4px 24px;
  border: 0;
  flex-grow: 0;
  font-size: 16px;
  cursor: pointer;
  color: $text-color;
  transition: all 0.2s linear;
  margin-top: 14px;

  &:disabled {
    background-color: $danger-color;
    filter: brightness(0.6);
  }
  &:hover {
    filter: brightness(1.2);
  }
}

.button {
  background-color: $accent-color;
  color: $text-color;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    background-color: $danger-color;
    filter: brightness(0.6);
  }
}

.updateButton {
  background-color: $warning-color;
  color: $dark-color;
}

.errorButton {
  background-color: $danger-color;
  color: $title-color;
  margin-top: 0;
}

table,
th,
td {
  border: 1px solid $text-color;
  color: $dark-color;
  border-radius: 8px;
  font-family: 'Poppins';
}

td {
  padding: 6px 0;
}
.table {
  margin-top: 48px;
  margin-inline: auto;
  width: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 6px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 2px $accent-color;
  min-width: 300px;
  max-width: 480px;
  th {
    padding: 4px 0;
    border-width: 2px;
    border-color: $accent-color;
    text-transform: uppercase;
  }

  td {
    text-align: center;
    border-collapse: collapse;
  }
}
